.shuoshuo_piece{
    width: calc(100% - 40px);
    margin: 0px 20px 20px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    word-wrap: break-word;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    padding: 16px;
    border-radius: 3px;
    transition: transform 0.5s ease-in-out;
}

.shuoshuo_piece:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.shuoshuo_date{
    position: relative;
    left: -32px;
    font-size: 14px;
    padding: 6px 14px 6px 30px;
    color: #FFFFFF;
    border-radius: 0px 3px 3px 0px;
}

.shuoshuo_date::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0px;
    width: 0px;
    height: 0px;
    margin:0px;
    padding:0px;
    border-style: solid;
    border-width: 0px 16px 16px 0px;
    filter: brightness(120%);
    border-color: transparent transparent transparent transparent;
    border-right-color: inherit;
}

.shuoshuo_content{
    margin-top: 6px;
}