.shuoshuo_piece{
    width: calc(100% - 40px);
    margin: 20px 20px;
    word-wrap: break-word;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    padding: 16px;
}

.shuoshuo_date{
    position: relative;
    left: -32px;
    font-size: 14px;
    padding: 6px 14px 6px 30px;
    color: #FFFFFF;
    border-radius: 0px 3px 3px 0px;
}

.shuoshuo_date_after{
    position: absolute;
    display: block;
    content: "";
    left: 4px;
    margin-top: 3px;
    width: 0px;
    height: 0px;
    padding:0px;
    border-style: solid;
    border-width: 0px 16px 16px 0px;
    filter: brightness(120%);
    border-color: transparent transparent transparent transparent;
}

.shuoshuo_content{
    margin-top: 6px;
}